// COLORS
$primary-color: #cab70e;
$secondary-color: #e2d482;

$white-color: #2b2a2a;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;