.footer {
  background-image: linear-gradient(135deg, #cab70e 0%, #e2d482 100%);
  color: $white-color;
  padding: 4.8rem 0;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken($white-color, 50%);
    font-size: 1.3rem;

    a {
      color: darken($white-color, 50%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: $dark-grey;

      &:hover,
      &:active {
        color: $primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid grey;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.back-to-top i {
  color: $white-color;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}

/* Footer icons */
.footer .social-links {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(135deg, #cab70e 0%, #e2d482 100%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.footer .social-links.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.footer .social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer .social-links ul li {
  list-style: none;
}

.footer .social-links ul li a {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  margin: 0 30px;
  transition: 0.5s;
}

.footer .social-links ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

.footer .social-links ul li a span:nth-child(1),
.footer .social-links ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: #404040;
}

.footer .social-links ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}

.footer .social-links ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.footer .social-links ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}

.footer .social-links ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.footer .social-links ul li a span:nth-child(2),
.footer .social-links ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
}

.footer .social-links ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}

.footer .social-links ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.footer .social-links ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

.footer .social-links ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.footer .social-links ul li a.facebook:hover {
  color: #3b5998;
}

.footer .social-links ul li a.facebook:hover span {
  background: #3b5998;
}

.footer .social-links ul li a.linkedin:hover {
  color: #1da1f2;
}

.footer .social-links ul li a.linkedin:hover span {
  background: #1da1f2;
}

.footer .social-links ul li a.instagram:hover {
  color: #c32aa3;
}

.footer .social-links ul li a.instagram:hover span {
  background: #c32aa3;
}

.footer .social-links ul li a.gmail:hover {
  color: #dd4b39;
}

.footer .social-links ul li a.gmail:hover span {
  background: #dd4b39;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 2rem 0; /* Adjust padding for smaller screens */
  }

  .social-links {
    flex-direction: column; /* Stack social links vertically for smaller screens */
    align-items: center; /* Center align social links */

    a {
      margin: 1rem 0; /* Add spacing between social links */
      width: auto; /* Adjust the width for better responsiveness */
    }
  }

  .footer .social-links {
    display: flex;
    flex-direction: column; /* Stack social links vertically for smaller screens */
    text-align: center; /* Center align the links */
    padding: 10px 0; /* Adjust padding for better spacing */
  }
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 1.5rem 0; /* Further reduce padding for smaller screens */
  }

  .footer .social-links {
    display: flex;
    flex-direction: column; /* Stack social links vertically for smaller screens */
    text-align: center; /* Center align the links */
    padding: 10px 0; /* Adjust padding for better spacing */
  }
}